<!-- ------------------- ASIDE NAVIGATION --------------------- -->
<aside>

    <div class="sidebar">
        <a href="/users/<%=user._id %>/books">
            <i class='bx bxs-book-reader'></i>
            <h3>Your BookNook</h3>
        </a>

        <a href="/users/<%=user._id %>/books/new">
            <i class='bx bxs-book-add'></i>
            <h3>Add a Book</h3>
        </a>

        <a href="#">
            <i class='bx bx-search-alt'></i>
            <h3>Search</h3>
        </a>

        <a href="#">
            <i class='bx bxl-graphql bx-flip-horizontal' ></i>
            <h3>Analytics</h3>
        </a>

        <a href="#">
            <i class='bx bxs-group'></i>
            <h3>Community</h3>
        </a>

        <a href="#">
            <i class='bx bxs-cog' ></i>
            <h3>Settings</h3>
        </a>

        <a href="/auth/sign-out">
            <i class='bx bxs-exit' ></i>
            <h3>logout</h3>
        </a>

    </div>
    
</aside> 