<!-- ------------------- TOP NAVIGATION --------------------- -->
<div class="top">

    <div class="logo">
        <h1>The BookNook</h1>
        <img src="/assets/storytelling (purple).png" >
    </div>

    <div class="profile">
        <p>Hi, <b><%= user.username %></b></p>
    </div>
    <div class="profile-photo">
        <img src="/assets/ed-robertson-eeSdJfLfx1A-unsplash (1).jpg" >
    </div>
</div>